.panda-bg{
    background-color:#e6b6ce;
}
.btn-color{
    width:168px;
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    border-radius: 6px;
}
.categories img{
    width:100px;
}